.selector {
  width: 100%;
  font-size: 1rem;
  border: 2px solid #3f51b5;
  border-radius: 6px;
  padding-left: 0.4rem;
  background-color: white;
  color: #3f51b5;
  cursor: pointer;
  box-sizing: border-box;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-image: 
    linear-gradient(45deg, transparent 50%, #3f51b5 50%), 
    linear-gradient(135deg, #3f51b5 50%, transparent 50%);
  background-position:
    calc(100% - 20px) center,
    calc(100% - 15px) center;
  background-size: 5px 5px;
  background-repeat: no-repeat;
}
.form-row{
  flex: unset !important;
}
@media (max-width: 500px) {
  .selector {
    padding: 10px;
  }
}